@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", serif;
    background-color: #F1F1F3;
    margin-top: 31px;
}

/* Shared style */

.safe-zone {
    width: calc(100% - 320px);
    /* This calc use for full website maintain same safe zoon, and 320px is 160 + 160 = 320, this 160 is figma file all container left and right side margin */
    margin: 0 auto;
}

.btn {
    background-color: #006A50;
    font-size: 18px;
    font-weight: 800;
    color: #FFFFFF;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    transition: 0.9s;
    cursor: pointer;
    border: 2px solid #006A50;
}

.btn:hover {
    background-color: #006a5000;
    ;
    border: 2px solid #006A50;
    color: #0E0E0E;
}


/* Header Section Style Start */

.menu-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu-area .logo h3 {
    color: #0E0E0E;
    font-size: 32px;
}

.menu-area .menu-item .sign-in-btn {
    padding: 15px 30px 15px 30px;
    color: #006A50;
    border: 1px solid #006A50;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    transition: 0.9s;
    cursor: pointer;
}

.menu-area .menu-item .sign-in-btn:hover {
    background-color: #006A50;
    color: #ffff;
}

/* Header Section Style End */


/* Banner Section Style Start */

.banner-area {
    height: 560px;
    border-radius: 24px;
    background-color: #C6E4D6;
    display: flex;
    align-items: center;
    margin: 51px auto;
}

.banner-area .content-area {
    margin: 60px;
}

.banner-area .content-area h6 {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
}

.banner-area .content-area h1 {
    font-size: 56px;
    color: #0E0E0E;
    margin-top: 16px;
}

.banner-area .content-area .Explore-btn {
    padding: 17px 34px 17px 34px;
    margin-top: 24px;
}

.banner-area .image-area {
    width: 475px;
    height: 400px;
    margin-right: 60px;
}
/* Banner Section Style End */

/* Pillars area Style Start */
.Pillars-box {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.Pillars-box h1 {
    font-size: 40px;
}

.Pillars-box .box {
    height: 244px;
    width: 302px;
    background-color: #FFFFFF;
    border-radius: 16px;
    margin-top: 32px;
    padding: 24px;
    border: 1px solid rgba(0, 0, 0, 0.199);
}

.Pillars-box .box img {
    width: 64px;
    height: 64px;
}

.Pillars-box .box h3 {
    margin-top: 24px;
    font-size: 20px;
    font-weight: 700;
}

.Pillars-box .box p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    margin-top: 12px;
}
/* Pillars area Style End */


/* Future area Style Start */

.future-heading {
    margin-top: 80px;
}

.future-heading h1 {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
}

.future-heading p {
    margin-top: 24px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
}

.future-heading .future-box-big {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.future-heading .future-box-big .future-box-design-1 {
    margin-top: 32px;
    height: 325px;
    background-color: #FFFFFF;
    border-radius: 16px;
    margin-top: 32px;
    padding: 32px;
    background: rgba(84, 144, 245, 0.2);
}

.future-heading .future-box-big .future-box-design-2 {
    margin-top: 32px;
    height: 325px;
    background-color: #FFFFFF;
    border-radius: 16px;
    margin-top: 32px;
    padding: 32px;
    background: rgb(198, 228, 214);
}

.future-heading .future-box-big .future-box-design-3 {
    margin-top: 32px;
    height: 325px;
    background-color: #FFFFFF;
    border-radius: 16px;
    margin-top: 32px;
    padding: 32px;
    background: rgb(247, 235, 207);
}

.future-heading .future-box-big .future-box img {
    width: 64px;
    height: 64px;
}

.future-heading .future-box-big .future-box h3 {
    font-size: 20px;
    font-weight: 700;
    color: #0E0E0E;
    margin-top: 24px;
}

.future-heading .future-box-big .future-box p {
    font-size: 16px;
    margin-top: 12px;
    color: rgba(14, 14, 14, 0.7);
}

.future-heading .future-box-big .future-box .btn-1 {
    padding: 11px 20px 11px 20px;
    background-color: #5490F5;
    border: 2px solid #5490F5;
    border-radius: 8px;
    border: none;
    margin-top: 24px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 700;
    transition: 0.9s;
    cursor: pointer;
}

.future-heading .future-box-big .future-box .btn-1:hover {
    background-color: #548ff500;
    border: 2px solid #5490F5;
    color: black;
}

.future-heading .future-box-big .future-box .btn-2 {
    padding: 11px 20px 11px 20px;
    background-color: #09A15C;
    border: 2px solid #09A15C;
    border-radius: 8px;
    border: none;
    margin-top: 24px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 700;
    transition: 0.9s;
    cursor: pointer;
}

.future-heading .future-box-big .future-box .btn-2:hover {
    background-color: #09a15d00;
    border: 2px solid #09A15C;
    color: black;
}

.future-heading .future-box-big .future-box .btn-3 {
    padding: 11px 20px 11px 20px;
    background-color: #FFC239;
    border: 2px solid #FFC239;
    border-radius: 8px;
    border: none;
    margin-top: 24px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 700;
    transition: 0.9s;
    cursor: pointer;
}

.future-heading .future-box-big .future-box .btn-3:hover {
    background-color: #ffc43900;
    border: 2px solid #FFC239;
    color: black;
}

.future-heading .yunus-sections {
    margin-top: 32px;
    padding: 48px 24px 48px 24px;
    background-color: #FFFFFF;
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-position: 1.7% 23%;
    align-items: center;
    border-radius: 16px;
    text-align: justify;
}

.future-heading .yunus-sections details {
    font-size: 16px;
}

.future-heading .yunus-sections h4 {
    margin-top: 12px;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
}

.future-heading .yunus-sections .Chief {
    margin-top: 4px;
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}

/* Future area Style End */

/* Opinion Matters area Style Start */
/* .opinion-matters{
        height: 481px;
    }

    .opinion-matters .opinion-matters-header .opinion-matters{
        display: flex;
        justify-content: space-between;
    } */


/* Opinion Matters area Style End */


/* Recent News area Style Start */
.recent-news-heading {
    margin-top: 80px;
}

.recent-news-heading h1 {
    color: #0E0E0E;
    font-size: 40px;
    font-weight: 700;
}

.recent-news-heading p {
    color: rgba(14, 14, 14, 0.7);
    margin-top: 24px;
}

.recent-news-heading .news-box {
    background-color: #ffff;
    display: flex;
    border-radius: 24px;
    padding: 48px;
    margin-top: 32px;
}

.recent-news-heading .news-box img {
    border-radius: 24px;
}

.recent-news-heading .news-box .content-box {
    padding: 0 48px 0 32px;
}

.recent-news-heading .news-box .content-box h1 {
    color: #0E0E0E;
    font-size: 32px;
}

.recent-news-heading .news-box .content-box img {
    margin-top: 12px;
    border-radius: 0px;
}

.recent-news-heading .news-box .content-box span {
    color: rgba(14, 14, 14, 0.7);
    margin-top: 12px;
}

.recent-news-heading .news-box .content-box p {
    margin-top: 12px;
    line-height: 24px;
    text-align: justify;
}

.recent-news-heading .news-box .content-box button {
    margin-top: 32px;
    padding: 13px 26px 13px 26px;
}
/* Recent News area Style End */


/* Recent News area Style Two Start */
.recent-news-heading {
    margin-top: 80px;
}

.recent-news-heading .news-box-two {
    background-color: #ffff;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 24px;
    padding: 48px;
    margin-top: 32px;
}

.recent-news-heading .news-box-two img {
    border-radius: 24px;
}

.recent-news-heading .news-box-two .content-box {
    padding: 0 48px 0 0;
}

.recent-news-heading .news-box-two .content-box h1 {
    color: #0E0E0E;
    font-size: 32px;
}

.recent-news-heading .news-box-two .content-box img {
    margin-top: 12px;
    border-radius: 0px;
}

.recent-news-heading .news-box-two .content-box span {
    color: rgba(14, 14, 14, 0.7);
    margin-top: 12px;
}

.recent-news-heading .news-box-two .content-box p {
    margin-top: 12px;
    line-height: 24px;
    text-align: justify;
}

.recent-news-heading .news-box-two .content-box button {
    margin-top: 32px;
    padding: 13px 26px 13px 26px;
}

/* Recent News area Style Two End */

/* Recent News area Style Three Start */

.recent-news-heading {
    margin-top: 80px;
}

.recent-news-heading .news-box-three {
    background-color: #ffff;
    display: flex;
    flex-direction: row;
    border-radius: 24px;
    padding: 48px;
    margin-top: 32px;
}

.recent-news-heading .news-box-three img {
    border-radius: 24px;
}

.recent-news-heading .news-box-three .content-box {
    padding: 0 48px 0 32px;
}

.recent-news-heading .news-box-three .content-box h1 {
    color: #0E0E0E;
    font-size: 32px;
}

.recent-news-heading .news-box-three .content-box img {
    margin-top: 12px;
    border-radius: 0px;
}

.recent-news-heading .news-box-three .content-box span {
    color: rgba(14, 14, 14, 0.7);
    margin-top: 12px;
}

.recent-news-heading .news-box-three .content-box p {
    margin-top: 12px;
    line-height: 24px;
    text-align: justify;
}

.recent-news-heading .news-box-three .content-box button {
    margin-top: 32px;
    padding: 13px 26px 13px 26px;
}

/* Recent News area Style Three End */


/* Donate area Style Start */

.donate-heading {
    text-align: center;
    margin-top: 80px;
}

.donate-heading .donate {
    color: #0E0E0E;
    font-size: 40px;
}

.donate-heading p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    margin-top: 24px;
}

.donate-heading .ammount-box {
    width: 65%;
    /* 65% is just imagin size */
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 32px;
    gap: 24px;
}

.donate-heading .ammount-box .box {
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 16px;
    transition: 0.9s;
}

.donate-heading .ammount-box .box-color {
    background-color: #C6E4D6;
}

.donate-heading .ammount-box .box:hover {
    background-color: #C6E4D6;
    color: #09A15C;
    cursor: pointer;
}

.donate-heading input {
    margin-top: 32px;
    width: 850px;
    height: 56px;
    color: #0E0E0E;
    background: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px 0px 0px 8px;
    border: none;
    padding: 6px 40px 6px 40px;
}

.donate-heading button {
    margin-top: 32px;
    padding: 17px 34px 17px 34px;
}

/* Donate area Style End */


/* Newsletter area Style Start */

.newsletter-box {
    background-color: #C6E4D6;
    height: 395px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 80px;
    border-radius: 24px;
}

.newsletter-box h1 {
    color: #0E0E0E;
    font-size: 40px;
}

.newsletter-box p {
    margin-top: 16px;
    color: rgba(14, 14, 14, 0.7);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}

.newsletter-box .email-box {
    display: flex;
    margin-top: 32px;
}

.newsletter-box .email-box input {
    width: 600px;
    height: 56px;
    color: #0E0E0E;
    background: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 8px 0px 0px 8px;
    border: none;
    padding: 6px 40px 6px 40px;
}

.newsletter-box .email-box button {
    padding: 17px 34px 17px 34px;
    border-radius: 0px 8px 8px 0px;

}
/* Newsletter area Style Start */

/* Footer area Style Start */

.footer-box {
    text-align: center;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    margin-top: 60px;
    height: 226px;
    align-items: center;
}

.footer-heading {
    margin-top: 20px;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.137);
    width: 70%;
}

.footer-box .social-icon img {
    margin-top: 20px;
    margin-right: 20px;
}

/* Footer area Style End */